@model Capstone.Web.Models.User
@{
    ViewBag.Title = "Change Password";
}

<h2 class="move-head" id="ChangePassHead">Change a User's Password</h2>
<div class="container form-create-template">
    <hr class="form-line" />
    <p>Once the password changes, the user will be locked out until they're given the new password.</p>
    <br />
    @using (Html.BeginForm("AdminChangeUserPassword", "User", FormMethod.Post))
    {
        <div class="form-group formInputGroup">
            @Html.Label("Username", "Username:")<br />
            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { placeholder = "Username", @class = "textbox " } })<br />
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "error-message" })<br />
        </div>

        <div class="form-group formInputGroup">
            @Html.Label("Password", "New Password:")<br />
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Password", @class = "textbox" } })<br />
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error-message" })<br />
        </div>

            <div class="checkbox form-group">
                <div hidden class="col-md-10">
                    @Html.Label("Administrator")
                    @Html.CheckBoxFor(m => m.Administrator)

                    @Html.Label("Researcher")
                    @Html.CheckBoxFor(m => m.Researcher)

                    @Html.Label("Technician")
                    @Html.CheckBoxFor(m => m.Technician)

                    @Html.Label("Partner User")
                    @Html.CheckBoxFor(m => m.Partneruser)
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Change Password" class="form-btn-submit admin-btn-margin" />
                </div>
            </div>
    }
    <hr class="form-end-line" />
</div>
