
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.String_Formatting
@using Capstone.Web.Models
@model List<Park>

<ul style="list-style: none;">

    <li>
        <h2 id="IndexHeader">Explore The National Park System</h2>
    </li>
    @foreach (Park x in Model)
    {
        string imgName = x.ParkCode.ToLower() + ".jpg";


        <li>
            <div class="inlineblock">
                <a href="@Url.Action("Detail", "Home", x)" id="IndexPicLink"><img class="parkimageindex" src="~/Content/img/parks/@imgName" /></a>
            </div>
            <div class="inlineblock">
                <a href="@Url.Action("Detail", "Home", x)"><p class="parkname">@x.Name</p></a>
                <p class="parkstate">@x.State</p>
                <p class="parkdescription">@x.Description</p>
            </div>
            <hr />
        </li>
    }

</ul>
